html{
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
}


.container{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
	padding: 0 10px;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.title {
	align-items: center;
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 38px 0;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
}


.main-image img {
	border-bottom: 3px solid #77a466;
	max-width: 1200px;
	width: 100%;
}


.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}



.menu {
	list-style: none;
	padding: 0 10px;
}
.menu li {
	padding: 10px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0 15px;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0 15px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/*************************Tablets***************************/

@media (min-width: 768px) {
	.bottom-section{
		align-items: flex-start;
	}
	
	.section-one,
	.section-two,
	.section-three {
		border-top: 1px solid #eee;
		width: 33%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

}

/**************************Monitors**************************/

@media (min-width: 1200px) {	
	header {
		justify-content: space-between;
		width: 100%;
	}
	
	.title {
		border: none;
		justify-content: start;
		width: 50%;
	}
	
	header nav ul li {
		display: inline;
}

.main-image img {
	border-top: 3px solid #77a466;
}